body {
    width: 240px;
    height: 340px;
    background-color: #232323;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 16px;
}

.logo {
    width: 100px;
    height: 100px;
}

.title {
    color: #384c67;
}

.NameofDev {
    color: #384c67;
}

.ver {
    color: #384c67;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
}

.github-button {
    background-color: #384c67;
    color: #232323;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.changelog-button {
    background-color: #384c67;
    color: #232323;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.report-a-bug-button {
    background-color: #384c67;
    color: #232323;
    font-family: 'Franklin Gothic Medium' 'Arial Narrow', Arial, sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}


