body{
    width: 240px;
    overflow: hidden;
}

.hidden{
    display: hidden;
}

.logo{
    max-width: 40px;
}

.container{
    font-size: small;
    padding: 12px;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2px;
    padding: 0 8px;
}

.button-container button{
    flex-grow: 1;;
}

.logo-button{
    height: 0;
    padding: 0;
    transition: 
        height 0.2s ease in,
        margin-bottom 0.2s ease in;
    overflow: hidden;
    cursor: default;
    background: var(--comfil-charcoal-black);
    color: var(--comfil-white);
    flex-basis: 100%;
}
